page-stores {
    .container{
        text-align: center;
    }

    #overlay{
        margin-top: 8%;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        
    }

    #item{
        display: flex;
        align-content: space-between;
        align-items: baseline; 
    }

    #item > ion-checkbox{
        transform: scale(2);
        width: auto;
        display: block;
        margin-left: auto;
        right: 10%;
    }

    #item > p{
        color: white;
        font-size: 1.5em;
    }

    label{
        color: black;
        font-size: 1.5em;
    }
    

    hr{
        border: 1px solid white;
        transform:translateX(-5%);
    }

    ion-list{
        position: fixed;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.952);
        z-index: 1;
        width: 90%;
    }

    .btnInvisi{
        background-color: transparent;
        display: block;
    }
    
}
