<ion-header>

  <ion-navbar>
    <ion-title>stores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="container">
  <label for="search"><b>Que lojas pertende visitar?</b></label>
  <ion-searchbar (ionInput)="getStores($event)" placeholder="Procure as suas lojas"></ion-searchbar>
  <ion-list>
    
    <button class="btnInvisi" (click)="addStore(stores)" *ngFor="let stores of currentStores">
      
      <h5>{{stores.nome}}</h5>

    </button>
   
  </ion-list>
  <div id="overlay">
    <ul id="stores">
      <li>  
        <div id="item">
          <!--
            <button class="btnInvisi" id="removeIcon" (click)="removeStore()">
            <ion-icon name="md-remove-circle" style="color:red; font-size:2em"></ion-icon>
          </button>
        
        <p>Primomarco</p>
        <ion-checkbox (ionChange)="alterButton()"></ion-checkbox>
        </div>
        <hr>
      </li>
    </ul>
    -->
    <ion-list>
        <ion-item *ngFor="let stores of selectionStroes">{{stores.name}}</ion-item>
    </ion-list>
  </div>
  <button id="continue" type="submit" (click)="onLoadResults()">Validar</button>
</ion-content>
