<ion-header>

  <ion-navbar>
    <ion-title>stores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="container">
  <label for="search"><b>Que lojas pertende visitar?</b></label>
  <ion-searchbar (ionInput)="getStores($event)" placeholder="Procure as suas lojas"></ion-searchbar>
  <ion-list>
    
    <button class="btnInvisi" (click)="addStore(stores)" *ngFor="let stores of currentStores">
      
      <h5>{{stores.nome}}</h5>

    </button>
   
  </ion-list>
  <div id="overlay">
    <ion-list id="stores">
        <ion-item-sliding *ngFor="let store of selectionStroes" >
            <ion-item>
            <ion-label>{{store.nome}}</ion-label>
            <ion-checkbox name ="chk"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <button ion-button icon-only (click)="deleteStore(store)" danger>
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  </div>
  <button id="continue" type="submit" (click)="onLoadResults()">Validar</button>
</ion-content>
